footer{
   p{ 
      text-align: center;
      color: white;
      padding-top: 10px;
   }
   height: 20%;
   background-color: #343a40;
}
.container{
   margin-top: 3%;
}
#poster{
   overflow: hidden;
   img{
      width: 50%;
      float: left;
   }
}
 #cast {
    float: left;
}
#seasons{
   float: left;
}
#searchList{
   position: absolute;
   top: 48px;
   border: solid 1px #343a40;
   border-top: none;
   padding: 0;
   width: 200px;
   z-index: 9;
   li {
      position: relative;
      list-style: none;
      background-color: white;
   }
   li:hover {
      background-color: rgb(119, 119, 119);
   }
 }



